body {
  padding-bottom: 5rem;
}
sup {
  position: static;
}

#home .card {
  border-radius: .6rem;
  box-shadow: 0 0 1rem #ffd700 !important;
}

#home .card-header {
  border-radius: .6rem .6rem 0 0;
}

@media (max-width: 500px) {
  #home .card-img {
    padding: 0 2rem !important;
  }
}
@media (max-width: 450px) {
  #home .card-img {
    padding: 0 1rem !important;
  }
}

#home .card-footer {
  border-radius: 0 0 .6rem .6rem;
}
#home .card-footer blockquote {
  color: rgba(255, 255, 255, .75);
}