@font-face {
  font-family: Crenzo;
  src: url(../fonts/CRENZO.ttf);
}

section {
  display: none;
  font-size: 0.75rem;
  padding: 3rem 0 5rem;
}
section.active {
  display: block;
}
sup {
  position: static;
}

.navbar-brand {
  font-family: Crenzo;
  font-size: 1rem;
  padding-top: 0.5rem;
}
.navbar-brand img {
  margin-top: -0.3rem;
}

@media (max-width: 768px) {
  #home .carousel-item img {
    height: 75vw;
    object-fit: cover;
  }
}
#home a[data-section] {
  height: 250px;
  color: #808080;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding-top: 5.5rem;
  transition: .4s;
}
#home a[data-section]:hover {
  color: #fff;
}
#home a[data-section] i {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#member .filter-container {
  height: 100%;
}
#member button:focus,
#member select:focus {
  box-shadow: none;
}
@media (max-width: 768px) {
  #member .search-wrapper {
    width: 75% !important;
  }
}
#member .card {
  border-radius: .6rem;
}
#member .bio-text p {
  word-break: break-all;
}
#member .card-header {
  border-radius: .6rem .6rem 0 0;
}
#member .card-img {
  padding: 0 3.5rem;
}
#member .card.rounded-bottom,
#member .card-footer {
  border-radius: 0 0 .6rem .6rem !important;
}
#member .card-footer blockquote {
  color: #d6d6d6;
}
@media (min-width: 768px) {
  #member .card .bio-img {
    padding-bottom: 1rem !important;
  }
  #member .card .bio-text {
    padding-right: 1rem !important;
    font-size: 1rem;
  }
  #member .card-img {
    padding: 0;
  }
  #member .card-body {
    display: inline !important;
  }
  #member .card-footer blockquote {
    font-size: 0.825rem;
  }
}

#photo img,
#video video {
  max-height: 90vh;
  background-color: #000;
}

#contributor .list-group img {
  width: 40px;
}

.btn-home {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0.75;
  z-index: 10;
}
.btn-home i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  font-size: 1.5rem;
  transition: .4s;
}
.btn-home i:hover {
  color: #fff;
}